

<novo-card [config]="fullConfig">
<novo-form [form]="horizontal" style="max-width: none;width:1500px">
    <novo-control-group [initialValue]="initValue" [add]="simpleAddConfig" key="Hours Worked" [form]="horizontal" [controls]="controls" [emptyMessage]="emptyMessage"></novo-control-group>
</novo-form>
</novo-card>

<novo-card [config]="fullConfig2">
<novo-form [form]="horizontal" style="max-width: none;width:1500px">
    <novo-control-group [initialValue]="initValue2" [add]="simpleAddConfig" key="PTO - Standard" [form]="horizontal" [controls]="controls2" [emptyMessage]="emptyMessage"></novo-control-group>
</novo-form>
</novo-card>